.sprites-sprite {
  background: url('images/sprites-s607b03c010.png') no-repeat;
}

/*
 * responsive.custom.css is for custom media queries that are not set via the
 * theme settings, such as cascading media queries.
 *
 * By default all the other responsive stylesheets used in Adaptivetheme use a
 * "stacking method", however cascading media queries use a waterfall method so
 * you can leverage the cascade and inheritance for all browsers that support
 * media queries, regardless of screen size.
 *
 * @SEE http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/#mq-overlap-stack
 *
 */
/*
 * Really small screens and up
 */
/*
 * Smartphone sizes and up
 */
/* @media only screen and (min-width: 320px) {} */
/* =================================================================================================
   Smartphone sizes and down
   ================================================================================================= */
@media only screen and (max-width: 480px) {
  /*
   * Float Region blocks example:
   * In smaller screen sizes we can remove the float and widths so all blocks
   * stack instead of displaying horizonally. The selector used here is an
   * "attribute selector" which will match on any float block class. Use your
   * inspector or Firebug to get the classes from the page output if you need
   * more granular control over block alignment and stacking.
   *
   * "Float Region blocks" is an extension for floating blocks in regions, see
   * your themes appearance settings, under the Extensions tab.
   */
  .region[class*="float-blocks"] .block {
    float: none;
    width: 100%;
  }

  div#branding {
    margin: 0 6px !important;
    width: 40%;
    height: 40%;
  }

  #columns {
    border-top-left-radius: 0 !important;
  }

  h1#page-title {
    font-size: 120%;
  }

  nav#block-system-main-menu {
    margin: 0 !important;
    padding: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  #header-wrapper {
    border-bottom: 2px solid #fee100 !important;
  }
  #header-wrapper .container #header h2#org-title {
    margin: 4px 8px !important;
    font-size: 10px;
    font-size: 1rem;
  }
  #header-wrapper .container #header ul#uhd-sites-links {
    display: none;
  }

  #content-wrapper .container {
    padding-top: 23px !important;
  }
  #content-wrapper .container #uhd-title-bar {
    width: 100%;
  }

  #footer-wrapper {
    border-top: 2px solid #fee100 !important;
  }
  #footer-wrapper .container {
    padding-top: 32px !important;
  }
  #footer-wrapper .container .more-info {
    margin: 0 !important;
  }
  #footer-wrapper .container .uhd-department-link {
    margin-top: 8px;
  }
  #footer-wrapper .container ul.uhd-footer-links li {
    width: 100% !important;
  }
}
/*
 * Tablet sizes and up
 */
@media only screen and (min-width: 768px) {
  #nav-link {
    display: none !important;
  }

  .back-to-top-link {
    display: none !important;
  }

  .uhd-department-description {
    float: left;
    width: 75%;
  }

  .uhd-department-link {
    float: right;
    width: 20%;
  }

  .uhd-wordmark-wrapper {
    width: 20%;
    padding-right: none;
  }

  ul.uhd-footer-links {
    width: 75%;
    float: right;
    margin: 0;
    padding: 0;
  }
  ul.uhd-footer-links li {
    float: left;
    width: 25%;
  }
  ul.uhd-footer-links li ul {
    display: block;
    margin: 0;
    padding: 0;
  }
  ul.uhd-footer-links li ul li {
    display: block;
    float: none;
    width: auto;
  }
}
/*
 * Desktops/laptops and up
 */
/* @media only screen and (min-width: 1025px) {} */
/*
 * @file
 * Print Styles
 * This probably needs work, but it's a good starting point.
 */
/*
 * Body
 */
body {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1.4;
  word-spacing: 1.1pt;
  letter-spacing: 0.2pt;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: black;
  background: none;
  font-size: 11pt;
}

/*
 * Links
 */
a {
  background: transparent;
  font-weight: 700;
  text-decoration: underline;
  color: #0000ee;
}
a[href^="http://"]:after, a[href^="http://"]:visited:after {
  content: "(" attr(href) ")";
  font-size: 10pt;
}

/*
 * Strip background from likely candidates
 */
div[id*="wrapper"],
[class*="title"],
[class*="inner"],
header,
footer,
#branding,
#container,
#columns,
.columns-inner,
#content-column,
.content-inner,
.region,
.region-header,
.region-content,
.article,
.article-title,
.article-content,
.comment,
.comment-title,
.comment-content,
.block,
.block-inner,
.block-title,
.block-content,
table,
table * {
  background: none !important;
}

/*
 * Hide various bits of the page
 */
.sidebar,
#breadcrumb,
.nav,
.field-type-taxonomy-term-reference,
ul.links,
.feed-icon,
.poll .bar,
.poll .foreground,
.comment-form,
#comment-form,
.book-navigation,
.tabs,
.action-links,
.pager,
.messages,
.help {
  display: none;
}

/*
 * Ensure the display the main content region
 */
#content {
  display: block !important;
}

/*
 * Layout
 */
#header {
  margin-bottom: 20px;
}

.content-inner {
  margin: 0 !important;
  padding: 0 !important;
}

/*
 * HTML elements
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
  margin: 0;
  padding: 0;
  line-height: 1;
}

h1 {
  font-size: 14pt;
}

h2 {
  font-size: 13pt;
}

h3 {
  font-size: 12pt;
}

h4,
h5,
h6 {
  font-size: 11pt;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
#site-name a,
#site-slogan {
  text-decoration: none !important;
  color: #333333;
}

hgroup a:link, hgroup a:visited {
  text-decoration: none;
}

#page-title {
  margin-top: 20px;
}

pre,
code,
tt,
samp,
kbd,
var {
  font-size: 10pt;
  font-family: Consolas, "Lucida Console", Menlo, Monaco, "DejaVu Sans Mono", monospace, sans-serif;
}

blockquote {
  margin: 20px;
  padding: 10px;
  font-size: 10pt;
  font-style: italic;
  background: #eeeeee;
}

hr {
  background-color: #666666;
}

/*
 * Header, Logo, Site name
 */
#header {
  padding-bottom: 20px;
}

#logo img {
  padding: 0 10px 0 0;
  margin: 0 !important;
  float: none !important;
}

/*
 * Images
 */
img {
  float: left;
  margin: 4px 20px 10px 0;
  page-break-inside: avoid;
}

a img {
  border: none;
}

/*
 * Tables
 */
table {
  margin: 1px;
  text-align: left;
}

th {
  border-bottom: 1px solid #333333;
  font-weight: 700;
}

td {
  border-bottom: 1px solid #333333;
}

th,
td {
  padding: 4px 10px 4px 0;
}

tfoot {
  font-style: italic;
}

caption {
  margin-bottom: 10px;
  text-align: left;
}

thead {
  display: table-header-group;
}

tr {
  page-break-inside: avoid;
}

/*
 * Forms
 */
form {
  margin-bottom: 10px;
}

/*
 * Poll module
 */
.poll .text,
.poll .percent,
.poll .total {
  text-align: left;
}
.poll form {
  margin-bottom: 0;
}

/*
 * Articles
 */
.node,
.comment {
  margin-bottom: 20px;
  overflow: hidden;
  page-break-inside: avoid;
}

.submitted {
  color: #666666;
  text-decoration: none;
  font-size: 9pt;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.submitted a {
  color: #666666;
  text-decoration: none;
  font-size: 9pt;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
