
// _base.scss imports _custom.scss (variables and mixins) and other partials.
@import "base";

/*
 * responsive.custom.css is for custom media queries that are not set via the
 * theme settings, such as cascading media queries.
 *
 * By default all the other responsive stylesheets used in Adaptivetheme use a
 * "stacking method", however cascading media queries use a waterfall method so
 * you can leverage the cascade and inheritance for all browsers that support
 * media queries, regardless of screen size.
 *
 * @SEE http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/#mq-overlap-stack
 *
 */



/* =================================================================================================
   Level 1:  Smartphone and down
================================================================================================= */

// N.B. All !importants should disappear when the desktop styles are moved in here, eventually.

@media only screen and (max-width: 500px) {
  html {
    font-size: 62.5%;
  }

  // body {
  //   @include debug-message('1 [lte 500]');
  // }
  
  .region[class*="float-blocks"] .block {
    float: none;
    width: 100%;
  }

  .panel-display {
    margin-left: -$gutter-width;
    margin-right: -$gutter-width;
  }
  
  #page-wrapper {
    background-image: none;
  }

  // --- Header ---------------------------------------------
  #header-wrapper {

    #header {

      h2#org-title {
        float: right;
        margin: 4px 8px !important;
        @include font-size(1.2);
      }

      ul#uhd-sites-links {
        display: none;
      }
    }
  }
  // --------------------------------------------------------

  // --- Content --------------------------------------------
  #content-wrapper {

    .container {
      padding-top: 0 !important;

      #uhd-title-bar {
        width: 100%;

        h1#site-name {
          position: relative;
          margin-top: -46px;

          a {
            @include font-size(2.2);
            color: black;
            line-height: 40px;
            text-shadow: none;
          }
        }
      }

      h1#page-title {
        @include font-size(2.4);
        margin-top: 24px;
        left: 8px;

        &.page-banner-image-exists {
          bottom: 12px;
          left: 12px;
        }
      }
    }
  }

  div#branding {
    margin: 0 6px !important;
    width: 40%;
    height: 40%;
  }

  // --- --- Sidebar first (navigation)
  nav#block-system-main-menu {
    margin: 0 !important;
    padding: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  #columns {
    border-top-left-radius: 0 !important;
  }

  h2 {
    @include font-size(1.8);
  }
  // --------------------------------------------------------

  // --- Footer ---------------------------------------------
  #footer-wrapper {
    ul.uhd-footer-links {
      width: 85% !important;

      list-style-type: none;

      > li {
        margin-left: 8px;
        width: 100%;

        &.home img { 
          max-width: 33%; 
        }

        ul {
          li {
            margin: 0;
          }
        }
      }
    }
  }

  // Masquerade form
  .block-masquerade {
    width: 80% !important;
  }
  // --------------------------------------------------------

} 
/* END Level 1:  Smartphone and down ================================================================================ */





/* =================================================================================================
   Level 2:  Tablets narrow
================================================================================================= */

@media only screen and (min-width: 501px) and (max-width: 810px) {
  html {
    font-size: 62.5%;
  }

  // body {
  //   @include debug-message('2 [501-799]');
  // }

  // --- Header ---------------------------------------------
  #header-wrapper {

    .container {

      #header {

        h2#org-title {
          float: right;
          margin: 4px 8px !important;
          @include font-size(1.2);
        }

        ul#uhd-sites-links {
          display: none;
        }
      }
    }
  }
  // --------------------------------------------------------


  // --- Content -------------------------------------------

  // --- Sidebar first (navigation)
  nav#block-system-main-menu {
    margin: 0 !important;
    padding: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  #columns {
    border-top-left-radius: 0 !important;
  }

  .container {
    padding-top: 0 !important;

    #uhd-title-bar {
      width: 100%;

      h1#site-name {
        position: relative;
        margin-top: -40px;

        a {
          @include font-size(2.2);
          color: black;
          line-height: 40px;
          text-shadow: none;
        }
      }
    }

    h1#page-title {
      @include font-size(2.8);
    }
  }
  // --------------------------------------------------------


  // --- Footer ---------------------------------------------

  .more-info {
    margin: 0 !important;
  }

  ul.uhd-footer-links {
    
     > li {
      float: left;
      width: 40%;

      &.home {
        width: 100%;

        img { max-width: 25%; }
      }
      &.admin, &.dining {
        clear: both;
        margin-left: 8px;
      }
    }
  }
  
  // Masquerade form
  .block-masquerade {
    width: 80% !important;
  }
  // --------------------------------------------------------

} 
/* END Level 2:  Tablets narrow ================================================================================ */





/* =================================================================================================
   Level 3:  Tablets wide
================================================================================================= */

@media only screen and (min-width: 811px) {
  html {
    font-size: 62.5%;
  }

  // body {
  //   @include debug-message('3 [gte 800]');
  // }

  // --- Header ---------------------------------------------

  // --------------------------------------------------------


  // --- Content --------------------------------------------
  #nav-link {
    display: none !important;
  }

  // --- Sidebar first (navigation)
  nav#block-system-main-menu {
    border-top-left-radius: 0;
  }

  #columns {
    border-top-left-radius: 0;
  }
  // --------------------------------------------------------


  // --- Footer ---------------------------------------------
  .back-to-top-link {
    display: none !important;
  }

  .more-info {
    margin: 0 !important;
  }

  ul.uhd-footer-links {
    
    > li {
      float: left;
      width: 25%;
    }
  }
  // --------------------------------------------------------

} 
/* END Level 3:  Tablets wide ================================================================================ */





/* =================================================================================================
   Level 4:  Desktop
================================================================================================= */

@media only screen and (min-width: 1140px) {
  html {
    font-size: 62.5%;
  }

  // body {
  //   @include debug-message('4 [gte 1140px]');
  // }

  // --- Header ---------------------------------------------

  // --------------------------------------------------------


  // --- Content --------------------------------------------
  #nav-link {
    display: none !important;
  }

  // --- Sidebar first (navigation)
  nav#block-system-main-menu {
    padding-top: 20px;
    padding-bottom: 12px;
    background-color: lighten($grey_dark_very, 8%);
    @include border-top-left-radius(8px);
    @include border-bottom-right-radius(8px);
  }
  #columns {
    @include border-top-left-radius(14px);
  }
  // --------------------------------------------------------


  // --- Footer ---------------------------------------------
  .back-to-top-link {
    display: none !important;
  }

  ul.uhd-footer-links {

    > li {
      width: 17%;
    }
  }
  // --------------------------------------------------------

} 
/* END Level 4:  Desktop ================================================================================ */

