
// _base.scss imports _custom.scss (variables and mixins) and other partials.
@import "base";

/*
 * responsive.custom.css is for custom media queries that are not set via the
 * theme settings, such as cascading media queries.
 *
 * By default all the other responsive stylesheets used in Adaptivetheme use a
 * "stacking method", however cascading media queries use a waterfall method so
 * you can leverage the cascade and inheritance for all browsers that support
 * media queries, regardless of screen size.
 *
 * @SEE http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/#mq-overlap-stack
 *
 */


/* Really small screens and up */
// @media only screen and (min-width: 220px) {}


/* Smartphone sizes and up */
// @media only screen and (min-width: 320px) {}


/* =================================================================================================
   Smartphone sizes and down
   ================================================================================================= */

  // N.B. All !importants should disappear when the desktop styles are moved in here, too

@media only screen and (max-width: 480px) {

  /*
   * Float Region blocks example:
   * In smaller screen sizes we can remove the float and widths so all blocks
   * stack instead of displaying horizonally. The selector used here is an
   * "attribute selector" which will match on any float block class. Use your
   * inspector or Firebug to get the classes from the page output if you need
   * more granular control over block alignment and stacking.
   *
   * "Float Region blocks" is an extension for floating blocks in regions, see
   * your themes appearance settings, under the Extensions tab.
   */
  .region[class*="float-blocks"] .block {
    float: none;
    width: 100%;
  }

  .panel-display {
    margin-left: -$gutter-width;
    margin-right: -$gutter-width;
  }

  div#branding {
    margin: 0 6px !important;
    width: 40%;
    height: 40%;
  }
  #columns {
    border-top-left-radius: 0 !important;
  }

  h1#page-title {
    font-size: 120%
  }

  nav#block-system-main-menu {
    margin: 0 !important;
    padding: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  #header-wrapper {
    border-bottom: 2px solid $hawk_gold !important;

    .container {

      #header {

        h2#org-title {
          margin: 4px 8px !important;
          @include font-size(1.0);
        }

        ul#uhd-sites-links {
          display: none;
        }
      }
    }
  }

  #content-wrapper {

    .container {
      padding-top: 23px !important;

      #uhd-title-bar {
        width: 100%;
      }
    }
  }

  #footer-wrapper {
    border-top: 2px solid $hawk_gold !important;

    .container {
      padding-top: 32px !important;

      .more-info {
        margin: 0 !important;

        .uhd-department-description {
          margin: 8px;
          width: 100%;
        }

        .uhd-department-link {
          float: right;
          margin: 12px 8px;
          width: 80%;
        }
      }


      ul.uhd-footer-links {
        list-style-type: none !important;

        li {
          width: 90% !important; // Quick fix to remove horizontal scroll on mobile. @TODO: Redo margin/padding in default styles?
          border-left: none;
          list-style-type: none !important;

          &.home {
            text-align: center;

            img { max-width: 60%; }
          }

        }
      }
    }
  }
} /* END smartphone ================================================================================ */



/* =================================================================================================
   Tablet sizes
   ================================================================================================= */

@media only screen and (max-width: 768px) {
  #nav-link {
    //display: none !important;
  }

  .back-to-top-link {
    //display: none !important;
  }

  nav#block-system-main-menu {
    margin: 0 !important;
    padding: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .uhd-department-description {
    float: left;
    width: 75%;
  }

  .uhd-department-link {
    float: right;
    width: 20%;
  }

  .uhd-wordmark-wrapper {
    width: 20%;
    padding-right: none;
  }

  ul.uhd-footer-links {
    width: 75%;
    float: right;
    margin: 0;
    padding: 0;
    li {
      float: left;
      width: 25%;
      ul {
        display: block;
        margin: 0;
        padding: 0;
        li {
          display: block;
          float: none;
          width: auto;
        }
      }
    }
  }
} /* END tablets ================================================================================ */



/* =================================================================================================
   ALMOST Desktop sizes, but thinner than full page
   ================================================================================================= */

@media only screen and (min-width: 1140px) {
  #nav-link {
    display: none !important;
  }

  .back-to-top-link {
    display: none !important;
  }

  .uhd-department-description {
    float: left;
    width: 75%;
  }

  .uhd-department-link {
    float: right;
    width: 20%;
  }

  .uhd-wordmark-wrapper {
    width: 20%;
    padding-right: none;
  }

  ul.uhd-footer-links {
    width: 75%;
    float: right;
    margin: 0;
    padding: 0;
    li {
      float: left;
      width: 25%;
      ul {
        display: block;
        margin: 0;
        padding: 0;
        li {
          display: block;
          float: none;
          width: auto;
        }
      }
    }
  }
} /* END desktops ================================================================================ */
