
// _base.scss imports _custom.scss (variables and mixins) and other partials.
@import "base";
$sprites-spacing: 120px;
@import "sprites/*.png";

/*
 * @file
 * global.styles
 *
 * Styles you add here will load for all device sizes, they are "global", as
 * opposed to "responsive" styles, which only load for a given breakpoint (media
 * query) that you set in theme settings. See the README for more details.
 *
 *
 * How to use this file:
 * --------------------
 *
 * There are many empty selectors and some basic styles to act as a guide.
 * Nothing is set in stone and you can change anything - even delete all of it
 * and start with your own clean slate.
 *
 * To FORCE PRINT all selectors you can search and replace a single { (opening
 * curly brace) and insert an empty comment. This is very useful in conjuction
 * with FireSass: https://addons.mozilla.org/en-US/firefox/addon/firesass-for-firebug/
 *
 * See global.base also which includes normalize.css and some additional
 * helper classes and base styles.
 */

/* =============================================================================
 *   Base
 * ========================================================================== */

/*
 * To preserve theme settings never apply font properties to the HTML element.
 * This is critically important if you are using the Responsive JavaScript
 * feature as this relies on being able to set a pseudo font family on the HTML
 * element. If you need to set default font properties of any kind use the BODY
 * element as these can be overridden using font theme settings.
 */

html {
  background: $page;
  font-size: 62.5%;
}

body {
  font-family: $sans-serif-small; // Set from _custom.scss font variables
  @include font-size(1.4);
}


/* =============================================================================
 *   HTML Elements
 * ========================================================================== */

h1 {}


h2 {}


h3 {}


h4 {}


h5 {}


h6 {}

h1, h2, h3, h4, h5, h6 {
  font-family: proxima-nova-condensed, sans-serif;
}


p {}


b,
strong {}


i,
em {}


dfn {}


sup {}


sub {}


del {}


ins {}


blockquote {}


cite {}


q {}


address {}


ul {}


ol {}


li {}


dl {}


dd {}


dt {}


abbr {}


acronym {}


pre,
code,
tt,
samp,
kbd,
var {
  font-family: $mono;
}


/* =============================================================================
 *   Wrappers
 * ========================================================================== */

/*
 * Page wrapper, includes the .container class which sets the overall page or section width
 * Main wrapper in page.tpl.php, the .container class sets the width of the page, do not add width to it!
 */
#page  {
  .container {}
}


/*
 * Wraps all header elements - branding and .region-header
 */
#header {}


/*
 * Wraps the sidebars the content column
 */
#columns {
  background-color: white;
  @include box-shadow(4px 2px 8px rgba(0,0,0,.3));
  @include border-top-left-radius(14px);
}


/*
 * Main content column wrapper
 */
#content-column {}


/*
 * Wraps the main-content-header, the content region and feed-icons. Use this wrapper to style the entire main content column
 */
#main-content {
  margin-top: $gutter-width;
  @include font-size(1.6);
}

/**
 * Zero out the margins for pages and locations as they have a header image
 * that should fill the width 100%.
 */
.node-type-page, .node-type-location {
  #main-content {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}


/*
 * Wraps the content region, avoid applying styles to this wrapper, its used mainly for position and invisible gutters and can be problematic to style
 */
#content {}


/*
 * Footer wrapper
 */
#footer {}


/*
 * Panels may need additional margin wrangling when in the $content region
 */
#content .panel-display {
  margin-left: 0;
  margin-right: 0;
}

/**
 * Double the margin on pages and locations because they are panelized and
 * we zero out the #main-content margin to accomodate header images.
 */
.node-type-page, .node-type-location {
  #content .panel-display {
    margin-left: $gutter-width;
    margin-right: $gutter-width;
  }
}


/*
 * Full Width Wrappers
 * These are used in the optional page--full-width-wrappers.tpl.php template.
 * All have internal .container classes. In the full width wrapper template the
 * .container classes set the width or max-width of the contained element - you
 * can style this but never add any width/margin/padding/borders etc to .container
 */

/*
 * Wraps #page
 */
#page-wrapper {
  .container {}
}


/*
 * Wraps the leaderboard
 */
#leaderboard-wrapper {
  .container {}
}


/*
 * Wraps the header
 */
#header-wrapper {
  background-color: white;
  border-bottom: 6px solid $hawk_gold;

  #header {

    h2#org-title {
      float: left;
      margin: 8px 0 0 8px;
      font-family: proxima-nova-condensed, sans-serif;
      text-transform: uppercase;
    }
  }
}

/* =============================================================================
 *  UHD global sites links
 * ========================================================================== */
ul#uhd-sites-links {
  float: right;
  margin: 0 0 -6px 0;
  padding: 0;
  list-style-type: none;

  li {
    display: table-cell;
    margin: 0;
    padding: 0;

    border-bottom: 6px solid transparent;

    a {
      display: block;
      margin: 0;
      padding: 8px 12px;
      line-height: 32px;
      text-align: center;
      text-decoration: none;
      color: $grey_dark_very;
      text-transform: uppercase;
      font-weight: bold;
      font-size: small;

      &:hover, &:focus {
        color: $grey_dark_pretty;
      }
    }

    &:hover {
      border-bottom: 6px solid lighten($hawk_gold, 33%);
    }
  }
}
body.site-name-housing ul#uhd-sites-links li.housing,
body.site-name-dining ul#uhd-sites-links li.dining,
body.site-name-catering ul#uhd-sites-links li.catering,
body.site-name-vending ul#uhd-sites-links li.vending,
body.site-name-uhampampd-admin ul#uhd-sites-links li.mothership {
  border-bottom: 6px solid $none_more_black;
  //@include sprites-sprite(menu-up-black, $dimensions: true, $offset-x: 66%, $offset-y: 38px);
}

/*
 * Wraps the nav elements
 */
#nav-wrapper {
  .container {}
}


/*
 * Wraps breadcrumb
 */
#breadcrumb-wrapper {
  .container {}
}


/*
 * Wraps messages and help
 */
#messages-help-wrapper {
  .container {}
}


/*
 * Wraps the secondary content/preface region
 */
#secondary-content-wrapper {
  .container {}
}


/*
 * Wraps the main content column
 */
#content-wrapper {

  .container {
    position: relative;
    padding-top: 45px;
  }
}


/*
 * Wraps the tertiary content/postfix region
 */
#tertiary-content-wrapper {
  .container {}
}


/*
 * Footer wrapper
 */
#footer-wrapper {
  background-color: $grey_dark_very;
  border-top: 6px solid $hawk_gold;

  .container {

    #footer {
      background-color: $grey_dark_very;

      .region-footer {
        margin-bottom: 12px;
        border-bottom: 2px solid $none_more_black;
      }
    }
  }
}


/* =============================================================================
 *   Branding
 * ========================================================================== */

/*
 * Wraps all the branding elements, logo, name and slogan
 */
#branding {

}


/*
 * Logo
 */
#logo {

  img {
    @include offscreen();
    // vertical-align: bottom;

    // &:hover {
    //   @include opacity(0.9);
    // }
  }
}


/*
 * Wrapper for the site name and slogan (hgroup)
 */
#name-and-slogan {
  position: relative;
}


/*
 * Site name (h1)
 */
h1#site-name {
  position: absolute;
  top: 4px;
  right: 1;
  margin: 0;
  padding: 0;

  font-family: proxima-nova, sans-serif;

  a, a:link {
    //@include font-size(6.4); -- hide for now to solve some strange inheritance bug.
    font-size: 64px;
    line-height: 45px;
    color: white;
    text-decoration: none;
    @include text-shadow(rgba(black, 0.9) 3px 3px 6px);

    &:hover, &:focus {
      text-decoration: none;
      color: darken(white, 5%);
    }
  }
}

/*
 * Site slogan (h2)
 */
#site-slogan {
  @include offscreen();
}


/* =============================================================================
 *   Page content header
 * ========================================================================== */

/*
 * Main content header wraps the page title, tabs and actions links
 */
#main-content-header {}


/*
 * The main page title (h1)
 */


#uhd-title-bar {
  position: absolute;
  top: 0;
  z-index: 500;

  // #breadcrumb {
  //   margin: 18px 0 0 0;

  //   .breadcrumb-wrapper{
  //     margin: 0;

  //     ol#crumbs {

  //       li {
  //         display: inline-block;
  //         margin: 0;
  //         padding: 0;
  //         background-color: $hawk_gold;
  //         min-height: 20px;
  //         min-width: 20px;


  //         a {
  //           display: block;
  //           padding: 4px;
  //           color: $grey_dark_very;
  //           font-weight: bold;
  //           text-decoration: none;

  //           &:hover, &:focus {
  //             color: $grey_dark_pretty;
  //           }
  //         }

  //         // home link
  //         &.crumb-first {
  //           //@include border-top-left-radius(4px);

  //           a {
  //             background: url('images/home-icon-black.png') 6px 4px no-repeat;
  //             text-indent: -9999px;
  //             min-width: 24px;
  //             @include opacity(0.7);

  //             &:hover {
  //               @include opacity(0.5);
  //             }
  //           }
  //         }

  //         &.crumb-last {
  //           //@include border-top-right-radius(4px);

  //           a {
  //             padding-right: 8px;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
}

h1#page-title {
  float: left;
  clear: both;
  margin: 0;
  padding: 8px 12px;
  font-size: 3em;
}


/* =============================================================================
 *   Misc Global Styles
 * ========================================================================== */

/*
 * Feed icons
 */
.feed-icon {}


/*
 * Aggregator feed source
 */
#aggregator .feed-source .feed-icon {
  display: inline;
  float: none;
  margin-right: 10px;
}


.feed-details dt,
.feed-details dd {
  display: inline;
  margin: 0;
}


/*
 * Generic styles for the more link
 */
.more-link {}


/*
 * Generic styles for links. See the ul.links declaration in node and comment stylesheets
 */
ul.links {
  margin: 0;
  padding: 0;

  &.inline {
    display: block;
  }

  li {
    display: inline;
    list-style: none;
    padding: 0 10px 0 0;
  }
}


/*
 * Search results are an ordered list so reset the margin
 */
.search-results {
  margin: 0;
}


/* =============================================================================
 *   Regions
 * ========================================================================== */

/*
 * Standard region wrapper, don't add width to any regions, you will bork the layout - no margin, padding or borders etc
 */
.region {}


/*
 * Regions have an inner div - perfect for adding margin, padding or borders
 */
.region-inner {}


/*
 * Regions can be nested, such as when using Panels
 */
.region-inner .region-inner {}


/*
 * Header region, embedded in the #header
 */
.region-header {}


/*
 * Generally used to output Drupals help block, if the help module is enabled
 */
.region-help {}


/*
 * Secondary content
 */
.region-secondary-content {}


/*
 * Sits above the main content header, like a content-top region
 */
.region-highlighted {}


/*
 * Sits below the main content, like a content-bottom region
 */
.region-content-aside {}


/*
 * Sidebars - targets both
 */
.sidebar {}


/*
 * First sidebar
 */
.region-sidebar-first {

  .block-inner {
    margin: 0;
    background: transparent;
  }
}


/*
 * Second sidebar
 */
.region-sidebar-second {}


/*
 * Tertiary content
 */
.region-tertiary-content {}


/*
 * Footer region
 */
.region-footer {

  .more-info {
    margin: 12px 0 !important;

    h2 {
      text-transform: uppercase;
      color: $grey_dark_pretty;
    }

    .uhd-department-description {
      float: left;
      margin: 8px;
      color: white;
    }

    .uhd-department-link {
      float: right;
      margin: 12px 8px;

      a {
        float: right;
      }
    }
  }
}


/*
 * UH&D footer
 */
ul.uhd-footer-links {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 90%;

  > li {
    margin: 8px 0;
    padding: 0 12px;
    border-left: 2px solid $none_more_black;

    &.home {
      border-left: none;

      img {
        width: 90%;
        @include opacity(0.8);
      }
      a:hover img {
        @include opacity(1.0);
      }
    }

    h3 {
      margin: 0;
      color: $grey_dark_pretty;
      text-transform: uppercase;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 0 0 0 1em;
        list-style-type: none;
        text-indent: -1em;
        font-weight: normal;
        width: 100%;
        border-left: none;

        a {
          text-decoration: none;

          &:link,
          &:visited {
            color: $grey_light_very;
          }

          &:hover,
          &:focus {
            color: white;
          }
        }
      }
    }
  }
}

/* =============================================================================
 *   Links
 * ========================================================================== */

a {
  text-decoration: none;

  &:link,
  &:visited {
    color: darken($blue, 5%);
  }

  &:active,
  &.active {}

  &:hover,
  &:focus {
    text-decoration: none;
    color: darken($blue, 15%);
  }
}
h1, h2, h3 {
  a:hover, a:focus {
    text-decoration: none;
  }
}

/* --- Global plain-button style for editors */
a.plain-button {
  position: relative;
  @include plain-button;
  display: inline-block;

  &:link, &:visited {
    color: white;
  }

  &.small {
    @include font-size(1.2);
  }

  &.flickr {
    padding-left: 44px;
    
    &:before {
      content: url("images/icon-flickr-square.png");
      position: absolute;
      z-index: 490;
      left: 8px;
      top: 1px;
    }
  }
}

/* --- Global image-button style for editors */
a.image-button {
  // See this space for future offers!!!!
}

/* =============================================================================
 *   Primary, Secondary and Menu Bar region menus
 * ========================================================================== */

/*
 * Use one of the following id's for granular control:
 *  - #menu-bar (menu bar region)
 *  - #primary-menu (main menu)
 *  - #secondary-menu (secondary/user menu)
 * You can target all of these with .nav or div[id$="menu-bar"]
 */

.nav {
  clear: both;
  margin: 10px 0;

  ul,
  ul.menu {
    margin: 0;
    padding: 0;
  }

  li,
  ul.menu li {
    display: inline;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li a,
  ul.menu li a {
    display: block;
    white-space: nowrap;
    padding: 0 10px;

    &:visited {}

    &:hover,
    &:focus {}
  }

  .block {
    margin-bottom: 0;
  }
}


/* =============================================================================
 *   Superfish
 * ========================================================================== */

ul.sf-menu {
  margin-bottom: 0;

  a {
    border-left: 0;
    border-top: 0;
    padding: 0 10px;
    text-decoration: none;
    height: 2.5em;
    line-height: 2.5em;

    &:link,
    &:visited {}
  }

  li {
    &:hover,
    &.sfHover {
      outline: 0;
    }
  }

  a {
    &:focus,
    &:hover,
    &:active {
      outline: 0;
    }
  }
}


/*
 * Superfish blocks
 */
.block-superfish {

  .block-inner .content {}

  ul {
    margin: 0 !important;
    padding: 0 !important;

    ul {
      ul {
        ul {}
      }
    }
  }

  li {
    margin: 0 !important;
    padding: 0 !important;
  }
}


/*
 * Vertical style
 */
.sf-vertical {
  width: 100%;

  li {
    width: 100%;

    &.last {}

    &:hover ul,
    &.sfHover ul {
      left: 100%;
      top: 0;
      margin: 0;
      padding: 0;
    }

    a {
      padding: 0 10px;
    }
  }
}


/*
 * Navbar style
 */
.sf-navbar {
  padding-bottom: 0 !important;
}


/*
 * Sensible padding for the default style
 */
.sf-menu.sf-style-default a {
  padding: 0 10px;
}


/* =============================================================================
 *   Menus, usually blocks
 * ========================================================================== */

ul.menu {
  padding-left: 15px;

  ul {
    padding-left: 15px;

    ul {
      ul {}
    }
  }

  li {
    margin: 0;

    &.collapsed,
    &.expanded,
    &.leaf {}

    a {

      &:link,
      &:visited {}

      &:active,
      &.active {}

      &:hover,
      &:focus {}
    }

    &.active a,
    &.active-trail a {}

    &.first,
    &.last {}
  }
}


/* If li.content exists it's a problem, so reset the padding */
.block .menu li.content {
  padding: 0;
}


/* =============================================================================
 *   Book navigation menu
 * ========================================================================== */

.book-navigation {

  .page-links {}

  .page-previous {}

  .page-next {}

  .page-up {
    /* Prevent text wrapping to a new line, assumes English "up" is used (two characters) */
    min-width: 2em;
    white-space: nowrap;
  }

  .menu {
    margin-left: 0;
  }
}


/* =============================================================================
 *   Breadcrumbs
 * ========================================================================== */

#breadcrumb {
  margin: 10px 0;

  /* If the label is set to show in theme settings the label class is added */
  .breadcrumb-label {
    font-size: 1em;
    display: inline;
    padding-right: 10px;

    &:after {
      content: ":";
    }
  }

  ol {
    margin: 0;
    padding: 0;
  }

  .with-breadcrumb-label ol {
    display: inline;
  }

  li {
    list-style: none;
    display: inline;
  }

  li.crumb-first {}

  li.crumb-last {}

  a {

    &:link,
    &:visited {}

    &:active,
    &.active {}

    &:hover,
    &:focus {}
  }
}


/* =============================================================================
 *   Pagers
 * ========================================================================== */

ul.pager {
  clear: both;
  margin: 0;
  text-align: center;
}


.item-list ul.pager li {
  margin: 0;
}


ul.pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: .5em;

  &.pager-current {
    font-weight: 700;
  }
}


.block ul.pager li {
  margin: 0;
}


/*
 * Theme the various states of pager links
 */
ul.pager li {

  a {

    &:link,
    &:visited {}

    &:active,
    &.active {}

    &:hover,
    &:focus {}
  }

  &.pager-item {}
  &.first {}
  &.last {}
  &.pager-current {}
  &.pager-first {}
  &.pager-previous {}
  &.pager-next {}
  &.pager-last {}
}


/* =============================================================================
 *   Skip Navigation
 * ========================================================================== */

#skip-link {
  left: 50%;
  margin-left: -6.5em;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 12em;
  z-index: 50;

  a {
    background: #444;
    background: rgba(0, 0, 0, 0.6);
    color: $page;
    display: block;
    line-height: 2;
    padding: 0;
    text-align: center;
    text-decoration: none;

    &:link,
    &:visited {
      background: #444;
      background: rgba(0, 0, 0, 0.6);
      color: $page;
      display: block;
      line-height: 2;
      padding: 0;
      text-align: center;
      text-decoration: none;
    }
    &:hover,
    &:focus,
    &:active {
      outline: 0;
    }
  }
}


/* =============================================================================
 *   Tabs (local tasks)
 * ========================================================================== */

#tasks {
  margin-bottom: 0;
  z-index: 999;
}

ul.primary {
  float: right;
  margin: -26px 0 0 0;
  padding: 0 0 0 5px;
  border-bottom: none;

  li {
    display: block;
    float: left;
    margin-left: 3px;


    a {
      background-color: $grey_light_very;
      border: none;
      margin: 0;
      margin-top: 2px;
      padding: 0 10px;
      display: block;
      float: left;
      height: 24px;
      line-height: 24px;
      color: $grey_dark_very;
      @include border-top-radius(4px);

      &:hover,
      &:focus {
        background-color: lighten($grey_light_very, 10%);
        border-bottom: 2px solid lighten($grey_light_very, 10%);
        margin-top: 0;
      }
    }
  }

  li.active {
    a,
    a:hover,
    a:focus {
      margin-top: 0;
      background-color: white;
      border: none;
      border-bottom: 2px solid white;
      color: black;
    }
  }
}

ul.secondary {
  //border-bottom: 1px solid $border;
  margin: 1em 0 0;
  padding: 0 .3em 1em;

  li {
    border-right: 0;
    list-style: none;
    padding: 0 10px 0 0;

    a {
      &:hover,
      &.active {
        border-bottom: none;
        text-decoration: underline;
      }
    }
  }
}


/* =============================================================================
 *   Action links
 * ========================================================================== */

ul.action-links {
  margin: 20px 0 0;
  list-style: none;

  li {}
}


/* =============================================================================
 *  Field Styling
 * ========================================================================== */

/*
 * Wrapper for any field
 */
.field {}


/*
 * Above and inline classes are on the field wrapper
 */
.field-label-above {}


/*
 * When labels are set to inline in field display settings the clearfix class is automatically added
 */
.field-label-inline {}


/*
 * Labels are h2 in Adaptivetheme. Use a strong selector to mitigate unwanted ineritance issues
 */
.field-label {
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  line-height: inherit;
  margin-bottom: 0;
}


/*
 * Field types (Core)
 */

/*
 * Image fields use the <figure> and <figcaption> elements from HTML5
 */
.field-type-image {

  .caption {}

  .full-caption {}

  .teaser-caption {}
}


/*
 * Taxonomy
 */
.field-type-taxonomy-term-reference {

  /* The same bottom margin as p, blockquote, ul, ol and dl */
  margin-bottom: 1.5em;

  &.field-label-inline .field-items {
    margin: 0;
    padding: 0;
  }

  &.field-label-inline .field-item {
    display: inline;
    list-style: none;
    padding: 0 10px 0 0;
  }
}


/*
 * Text
 */
.field-type-text {}


/*
 * Long text
 */
.field-type-text-long {}


/*
 * Text with summary
 */
.field-type-text-with-summary {}


/*
 * File
 */
.field-type-file {}


/*
 * Number/Integer
 */
.field-type-number-integer {}


/*
 * Decimal
 */
.field-type-number-decimal {}


/*
 * Number float
 */
.field-type-number-float {}


/*
 * List
 */
.field-type-list-text {}


/*
 * List boolean
 */
.field-type-list-boolean {}


/*
 * List integer
 */
.field-type-list-integer {}


/*
 * List float
 */
.field-type-list-float {}


/*
 * Field types (Contrib)
 */
.field-type-datetime {}

.field-type-node-reference {}

.field-type-user-reference {}


/*
 * Named fields
 */
.field-name-body {}

.field-name-field-image {}

.field-name-field-tags {}


/*
 * Underscores in field name are replaced with dashes
 */
.field-name-field-FIELDNAME {}


/*
 * Image Alignment Theme Settings - included here so you can easily override
 */

/*
 * Float none setting
 */
.ia-n .field-type-image,
.iat-n .field-type-image {}


/*
 * Float left setting
 */
.ia-l .field-type-image figure,
.iat-l .field-type-image figure {
  margin: 5px 20px 15px 0;
}


/*
 * Centered setting
 */
.ia-c .field-type-image figure,
.iat-c .field-type-image figure {
  margin: 5px auto 15px;
}


/*
 * Float right setting
 */
.ia-r .field-type-image figure,
.iat-r .field-type-image figure {
  margin: 5px 0 15px 20px;
}



/* =============================================================================
 *   Block Styling
 * ========================================================================== */

/*
 * Main wrapper for most blocks, block_system_main does not have it
 */
.block {
  margin-bottom: 20px;
}


/*
 * Inner wrapper for most blocks, good for margin, padding and borders, block_system_main does not have it
 */
.block-inner {}


/*
 * The first block in the region
 */
.block.first {}


/*
 * The last block in the region
 */
.block.last {}


/*
 * Zebra striping for each block in the region
 */
.block.odd {}


/*
 * Zebra striping for each block in the region
 */
.block.even {}


/*
 * Block title
 */
.block-title {
  margin: 0;
}


/*
 * Block content wrapper
 */
.block-content {}


/*
 * Match item list and block menu margin and padding
 */
.block-content {

  ul,
  ol {
    padding: 0 0 0 15px;
  }

  li {
    margin: 0;
    padding: 0;
  }
}


/*
 * Block for the latest news items in the first category
 */
#block-aggregator-category-1 {}


/*
 * Block for the latest news items in the first feed
 */
#block-aggregator-feed-1 {}


/*
 * First block created with "Add block" link
 */
#block-block-1 {}


/*
 * "Recent blog posts" block
 */
#block-blog-recent {}


/*
 * "Book navigation" block for the current book's table of contents
 */
#block-book-navigation {}


/*
 * "Recent comments" block
 */
#block-comment-recent {}


/*
 * "Active forum topics" block
 */
#block-forum-active {}


/*
 * "New forum topics" block
 */
#block-forum-new {}


/*
 * Language switcher block
 */
#block-locale-language {}


/*
 * Custom menu block
 */
#block-menu-menu-NAME {}


/*
 * "Recent content" block
 */
#block-node-recent {}


/*
 * "Syndicate" block for primary RSS feed; see also page.css's .feed-icon
 */
#block-node-syndicate {}


/*
 * "Most recent poll" block
 */
#block-poll-recent {}


/*
 * "Author information" block for the profile of the page's author
 */
#block-profile-author-information {}


/*
 * "Search form" block
 */
#block-search-form {}


/*
 * "Shortcuts" block
 */
#block-shortcut-shortcuts {}


/*
 * "Popular content" block
 */
#block-statistics-popular {}


/* ==================================================================================================
   Main menu block
   ================================================================================================== */
#block-system-main-menu, #block-menu-block-1 {
  padding-top: 20px;
  padding-bottom: 12px;
  background-color: lighten($grey_dark_very, 8%);
  @include border-top-left-radius(8px);
  @include border-bottom-right-radius(8px);

  // Top level menu
  ul {
    margin: 0;
    padding: 0;

    li {
      position: relative;
      list-style-image: none;
      list-style-type: none;

      // Default anchor styles
      a {
        display: block;
        padding: 10px 24px;
        border-bottom: 1px solid $grey_dark_very;
        color: white;
        text-decoration: none;

        &:before {
          content: "";
          position: absolute;
          top: 12px;
          left: 4px;
          margin-top: 0;
          @include sprites-sprite(menu-right-white, $dimensions: true);
        }

        &:hover {
          background-color: lighten($grey_dark_very, 12%);
        }
      }

      &.first.menu-depth-1 a {
        border-top: 1px solid $grey_dark_very;
      }

      /* Defaults for selected, top-level (and below) items */
      &.active-trail {
        background-color: $grey_dark_very;

        a {
          border-bottom: 1px solid lighten($grey_dark_very, 5%);

          &.active-trail:before {
            @include sprites-sprite(menu-down-white, $dimensions: true);
          }
        }
      }

      /* Special case: top-level item is chosen */
      &.active-trail {
        > a.active {
          color: $hawk_gold;
          background-color: $none_more_black;

          &:before {
            @include sprites-sprite(menu-right-white, $dimensions: true);
          }
        }
      }

      /* Special case:  Selected, top-level item has children */
      &.expanded {
        > a.active {

          &:before {
            @include sprites-sprite(menu-down-white, $dimensions: true);
          }
        }
      }

      // Second level menus
      ul {
        margin: 0;
        padding: 0;

        li {

          // Anchor styles for second level items are different
          a {
            padding: 6px 24px 6px 48px;
            text-indent: -12px;

            &:before {
              background-image: none !important;
            }

            /* Special case: top-level item is chosen */
            &.active-trail {
              color: $hawk_gold;
              background-color: $none_more_black;

              &:before {
                background-image: none;
              }
            }

            &.active {
              color: $hawk_gold;
              background-color: $none_more_black;

              &:before {
                background-image: none !important;
              }
            }

            &:hover {
              background-color: lighten($grey_dark_very, 12%) !important;
            }
          }

          &.expanded.active-trail {
            > a.active-trail { color: white; }
            > a.active { color: $hawk_gold; }
          }

          // Third level menus
          ul {

            li {

              a {
                padding-left: 72px;
                background-color: $none_more_black;

                &:hover {
                  background-color: lighten($grey_dark_very, 12%) !important;
                }
              }
            }
          }
        }
      }
    }
  }
}


/*
 * "Management" block for Drupal management menu
 */
#block-system-management {}


/*
 * "Navigation" block for Drupal navigation menu
 */
#block-system-navigation {}


/*
 * "User menu" block for Drupal user menu
 */
#block-system-user-menu {}


/*
 * "System help" block
 */
#block-system-help {}


/*
 * "Main page content" block
 */
#block-system-main {}


/*
 * "Powered by Drupal" block
 */
#block-system-powered-by {}


/*
 * "User login form" block
 */
#block-user-login {}


/*
 * "Who's new" block for a list of the newest users
 */
#block-user-new {}


/*
 * "Who's online" block for a list of the online users
 */
#block-user-online {}




/* =============================================================================
 *   Node Styling
 * ========================================================================== */

.node {
  margin-bottom: 20px;

  &.node-promoted {}

  &.node-sticky {}

  &.node-by-viewer {}

  &.node-teaser {}

  &.node-full {}

  &.odd {}

  &.even {}

  .node-title {
    margin: 0;
  }

  .user-picture {}

  .submitted {

    .username {}

    time {}
  }

  .node-content {}

  ul.links {

    li {}
    li a {}

    li.node-read-more a {}
    li.comment-add a {}
    li.comment-comments a {}
    li.comment-new-comments a {}
    li.blog-sernames-blog a {}
    li.print-html a {}
    li.print-email a {}
    li.print-pdf a {}
  }
}


.preview .node {}


/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
.node-page {}

.node-article {}

.node-book {}

.node-forum {}

.node-poll {}


/* =============================================================================
 *   Comment Styling - Comments, comment wrapper, comment form
 * ========================================================================== */

/*
 * Wrapper for the list of comments and its titles
 */
#comments {
  margin: 1.5em 0;

  h2 {
    &.comment-title {
      margin: 0;
    }

    &.comment-form {
      margin: 0;
    }
  }
}


/*
 * Wrapper for a single comment
 */
.comment {
  margin-bottom: 20px;

  &.first {}

  &.last {}

  &.odd {}

  &.even {}

  .user-picture {}

  .submitted {

    p {}

    .username {}

    time {}
  }

  .user-signature {}

  ul.links {}
}


/*
 * Comment title
 */
.comment-title {
  margin: 0;
}


/*
 * Comment states
 */
.comment-new {}

.comment-by-anonymous {}

.comment-by-node-author {}

.comment-by-viewer {}

.comment-title-hidden {}

.comment-with-picture {}

.comment-with-signature {}


/*
 * Preview of the comment before submitting new or updated comment
 */
.comment-preview {}


/*
 * "New" marker for comments that are new for the current user
 */
.new {
  color: $highlight;
}


/*
 * Nested comments are indented
 */
.indented {
  margin-left: 40px;
}


/* =============================================================================
 *   Forms
 * ========================================================================== */

/*
 * Wrapper for a form element (or group of form elements) and its label
 */
.form-item {
  input.form-text {
    width: 90%;
  }
  input.error,
  textarea.error,
  select.error {
    border: 1px solid $highlight;
  }

  label {
    font-weight: 700;
  }

  label.option {
  }

  .description {
    font-size: 0.85em;
  }

  &.form-checkboxes ,
  &.form-radios {
  }
}


/*
 * Highlight marks and form required mark
 */
.marker,
.form-required {
  color: $highlight;
}


/*
 * The submit button
 */
.form-submit {
}


.container-inline {
  div,
  label {
    display: inline;
  }
}

/*
 * Define consistent borders
 */
fieldset {
  border: 1px solid $border;
}

/*
 * Tips for Drupal's input formats
 */
.tips {
}


/*
 * Buttons used by contrib modules like Media
 */
a.button {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: url("images/ui-bg_highlight-soft_90_e6e4e2_1x100.png") repeat-x scroll 50% 50% #E6E4E2;
  border-color: #E6E4E2 #BBBBBB #BBBBBB #E6E4E2;
  border-image: none;
  border-radius: 4px 4px 4px 4px;
  border-style: solid;
  border-width: 1px;
  color: #000000;
  font-size: 1em;
  font-weight: 500;
  margin: 0 0.5em 0 0;
  overflow: hidden;
  padding: 0.5em 1em;
}


/*
 * Password confirmation
 */
.password-parent,
.confirm-parent {
  margin: 0;
}


/* =============================================================================
 *   Tables
 * ========================================================================== */

table {
  margin: 10px 0;
  padding: 0;
  width: 100%;

  &.sticky-header {
    z-index: 10;
  }
}


table,
thead,
tbody,
tr,
th,
td {
  border-color: $border;
}


table,
td,
th {
  vertical-align: middle;
}


caption,
th,
td {
  text-align: left;
}


thead tr {
  font-weight: 700;
  background-color: $medium_dark;
}


td,
th {
  border-bottom: 0;
  margin: 0;
  padding: 5px 7px;
}


tbody {}


tbody tr {
  border-top: 1px solid $border;
}


tr {

  &.odd {
    background: $page;
  }

  /* Table row striping */
  &.info,
  &.even,
  &:nth-child(2n+2)  {
    border-bottom: 0;
    background-color: $ultralight;
  }

  &.drag {}

  &.drag-previous {}

  &.odd td.active {
    background-color: $light;
  }

  &.even td.active {
    background-color: $medium_light;
  }
}


.lt-ie8 tr {

  &.even,
  &.odd {

    th,
    td {
    }
  }
}


/*
 * Forum tables
 * Core sets white-space to nowrap, which makes no sense
 */
#forum td {
  .created,
  .posts,
  .topics,
  .last-reply,
  .replies,
  .pager {
     white-space: normal;
  }
}


/* =============================================================================
 *   Messages
 * ========================================================================== */

div {
  &.messages {
  // Left and right margin are set by the global gutter width
  margin-bottom: 10px;
  margin-top: 10px;

    ul {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &.status {
  }

  &.warning {
  }
}

tr.warning {
}


div.error,
tr.error {
}


.error {
}


.warning {
}


/*
 * Unpublished nodes
 */
.node-unpublished,
.comment-unpublished {
}


.node-unpublished,
.comment-unpublished {

  p.unpublished {
    @include unpublished;
  }
}


/* =============================================================================
 *    Maintenance pages
 * ========================================================================== */

.maintenance-page {
  .container {
    padding: 40px 0;
  }

  #site-name,
  #page-title {

  }
}


.db-offline {
  .container {
    margin: 0 auto;
    padding: 40px 0;
    width: 100%;
    max-width: 960px;
  }

  div.messages {
    margin: 20px 0 0;
  }

  #content {
    padding: 20px 0;
  }
}


/* =============================================================================
 *   Misc overrides for contrib modules
 * ========================================================================== */

/*
 * Admin menu overrides
 */
#admin-menu {
  margin: 0;
  padding: 0;
}


/*
 * Devel Module
 */
.dev-query {
  background: $light;
  padding: 30px;
}


/*
 * Styleguide module tweaks
 */
#styleguide-header {
  padding: 0 10px;

  .item-list {
    font-family: inherit;
    margin: 0 20px 20px 0;
    min-height: 260px;
    width: auto;
  }
}



/* =============================================================================
 *   Editing interface
 * ========================================================================== */

/* --- Selection of panel layout */
.panels-choose-layout {

  img {
    border: 6px solid transparent;
    @include opacity(0.75);

    &:hover {
      @include opacity(1.0);
      border: 6px solid $grey_light_very;
    }
  }

  .current-layout {

    img {
      @include opacity(1.0);
      border: 6px solid $hawk_gold;

      &:hover {
        border: 6px solid $hawk_gold;
      }
    }
  }
}

/* --- Masquerade form */
.block-masquerade {
  margin: 12px 24px 12px 0;
  padding: 12px;
  background-color: $grey_light_very;
  @include border-right-radius(8px);
}



/* =============================================================================
    UHD header content
============================================================================= */

.uhd-header-content {
  position: relative;

  h1#page-title {
    position: absolute;
    left: 12px;
    bottom: 12px;
    padding: 0;
    z-index: 490;
    @include text-glow-big;
    color: white;
  }
}

h2.field-label {
  @include font-size(1.6);
}


/* =============================================================================
    Small screen jump links
============================================================================= */
#nav-link {
  position: relative;
  float: right;
  @include plain-button;
  margin: 2px;
  padding: 2px 12px 2px 46px;


  &:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 8px;
    margin-top: 0;
    @include sprites-sprite(hamburger-menu, $dimensions: true);
  }
}

.back-to-top-link {
  display: block;
  width: 100%;
  background-color: white;
  @include clearfix;

  a, a:visited {
    position: relative;
    float: right;
    @include plain-button;
    margin: 4px;
    padding: 4px 12px 4px 30px;
    color: white !important; // I have no friggin idea why this is necessary

    &:before {
      content: "";
      position: absolute;
      top: 8px;
      left: 8px;
      margin-top: 0;
      @include sprites-sprite(menu-up-white, $dimensions: true);
    }
  }
}


/* =============================================================================
    Inline images via the WYSIWYG
   ============================================================================= */
img.media-image-left {
  margin: 6px 12px 6px 0;
}
img.media-image-right {
  margin: 6px 0 6px 12px;
}


// hide all the rss feed icons for now
a.feed-icon {
  @include offscreen;
}

// Quick fix for using Media brower in custom content panes
.ui-dialog.media-wrapper {
  z-index: 2000;
}

// Hide the panel layout default save button
input#panelizer-save-default {
  display: none;
}

/* =============================================================================
    News and events lists
============================================================================= */
.news-events-list {

  .views-row {
    @include list-view-styles;
  }

  .views-field-title {
    padding-left: 8px;
    text-indent: -8px;
    font-weight: bold;
    line-height: 1.2em;
  }

  .item-date {
    color: $grey_dark_pretty;
    @include font-size(1.4);
  }
}

