/**
 * @file
 * OA homly panel layout
**/

.homly-container {
  margin-bottom: 1em;
}

.homly-headerfirst {
  float: left;
  width: 68.085%
}

  .homly-headerfirst-inner {
    margin-right: 20px;
  }

.homly-headersecond {
  float: left;
  width: 31.915%;
}

.homly-column1,
.homly-column2,
.homly-column3,
.homly-postcolumn1,
.homly-postcolumn2,
.homly-postcolumn3,
.homly-footer-region {
  width: 34.043%;
  float: left;
}

  .homly-middle-region-inner,
  .homly-footer-region-inner {
    margin-right: 20px;
  }

  .homly-column3,
  .homly-postcolumn3,
  .homly-footer-column3 {
    width: 31.915%;
  }

    .homly-column3-inner,
    .homly-footer-column3-inner {
      margin-right: 0;
    }

/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .homly-headerfirst,
  .homly-headersecond,
  .homly-middle-region,
  .homly-footer-region,
  .homly-column3,
  .homly-footer-column3 {
    width: 100%;
    float: none;
  }

  .homly-header-inner,
  .homly-middle-region-inner,
  .homly-footer-region-inner {
    margin-right: 0;
  }

}
