/**
 * @file
 * OA Harrison panel layout
**/

.harrison-container {
  margin-bottom: 1em;
}

.harrison-middle_first {
  float: left;
  width: 65.957%;
}

.harrison-middle_second {
  width: 34.043%;
  float: left;
}

.harrison-middle_first-inner{
  margin-right: 20px;
}

.harrison-column1 {
  width: 51.064%;
  float: left;
}

.harrison-column2 {
  width: 48.936%;
  float: left;
}

.harrison-column-content-region-inner {
    margin-right: 20px;
  }

/* Three column version */
/*.harrison-column-content-region {
  width: 25.532%;
  float: left;
}

  .harrison-column-content-region-inner {
    margin-right: 20px;
  }

  .harrison-column2 {
    width: 23.404%;
  }

    .harrison-column2-inner {
      margin-right: 0;
    }

  .harrison-content {
    width: 51.064%;
  }*/

/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .harrison-column-content-region,
  .harrison-middle_first,
  .harrison-middle_second,
  .harrison-column2,
  .harrison-content {
    width: 100%;
    float: none;
  }

  .harrison-middle_first-inner,
  .harrison-column-content-region-inner {
    margin-right: 0;
  }
}
