/**
 * @file
 * OA Harris-advanced Advanced panel layout
**/

.harris-advanced-container {
  margin-bottom: 1em;
}

.harris-advanced-middle_first {
  float: left;
  width: 65.957%;
}

.harris-advanced-middle_second {
  width: 34.043%;
  float: left;
}

.harris-advanced-middle_first-inner{
  margin-right: 20px;
}

.harris-advanced-column-content-region {
  width: 25.532%;
  float: left;
}

  .harris-advanced-column-content-region-inner {
    margin-right: 20px;
  }

  .harris-advanced-column2 {
    width: 23.404%;
  }

    .harris-advanced-column2-inner {
      margin-right: 0;
    }

  .harris-advanced-content {
    width: 51.064%;
  }

/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .harris-advanced-column-content-region,
  .harris-advanced-middle_first,
  .harris-advanced-middle_second,
  .harris-advanced-column2,
  .harris-advanced-content {
    width: 100%;
    float: none;
  }

  .harris-advanced-middle_first-inner,
  .harris-advanced-column-content-region-inner {
    margin-right: 0;
  }
}
